.navbar-brand {
    margin-left: -200px;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
  }
  .tag {
    color: rgb(211, 223, 101);
    width: 100px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .auth {
    color: rgb(211, 223, 101);
    width: 200px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .logo {
    margin-left: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  /* .nav-link {
    background: none;
    text-decoration: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  } */
  .menu {
    margin-left: 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    /* background: white; */
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: none;
  }
  /* .nav-item {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: flex-end;
  } 
  
  /* .container {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: none;
    margin-left: 0px;
  } */
  
  .logo {
    width: 100px;
    height: 100px;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: none;
    margin-right: 0px;
  }
  @media (max-width: 1180px) {
    #nab {
      visibility: hidden;
    }}